/*
Challenge:
Style the app according to the provided design.
The font is called "Happy Monkey" and can be
embedded via Google Fonts.

Don't know how to make an image round? Google it!
Also, consider how you should select the image 
(class vs id vs element selector).
*/


#round-img {
    width: 150px;
    border-radius: 80%;
    border: 6px solid white;
}

#round-img:hover {
    width: 300px;
}

body {
    font-family: "Happy Monkey", system-ui;
    text-align: center;
    background: linear-gradient(#C7A9A9, grey);
    color: #2b3742;
}

h1, h2, h4, h3, p {
    text-shadow: 0px 0px 1px black;
}

#bday-age {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    

}

#bday-date {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-img {
    background-image: url("./images/gift-cover.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    margin: 0 auto;
}

.gift-section {
    margin-top: 50px;
}

.gift-hint {
    margin-top: 0;
}

.gift-title {
    margin-bottom: 10px;
}

#gift-img-happy:hover {
    background-image: url("./images/happy.gif");
    width: 600px;
    height: 600px;
}


#gift-img-hot:hover {
    background-image: url("./images/hot.gif");
    width: 600px;
    height: 600px;

}


#gift-img-genius:hover {
    background-image: url("./images/genius.gif");
    width: 600px;
    height: 600px;

}


#gift-img-badass:hover {
    background-image: url("./images/badass.gif");
    width: 600px;
    height: 600px;

}

#gift-img-cheers {
    height: 200px;
}



#gift-img-cheers:hover {
    background-image: url("./images/cheers.gif");
    height: 300px;
    width: 600px;

}

#link {
    color: white;
}

.footer {
    margin-top: 40px;
    font-style: italic;
}
